
$min-width : 1025px;

/**
common
**/
$common-font-size:14px;
$common-font-weight:400;
$common-width-percent:100%;
$common-height-percent:100%;

/**
header
*/
$header-height:75px;
$header-zindex:10001;

/**
 main
*/
$main-min-height:750px;